div[class ^="grid"] {
    border: 1px solid red;
}

.container-grid1 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 60% 20%; /*% ανα  στοιλες*/
    /* or : grid-template-columns: 1fr 3fr 2fr = 1/6 , 3/6 , 2/6*/
}

.container-grid2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 60px 120px;
}

.container-grid3 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr) 2fr;
    grid-template-rows: 100px; /πρωτη γραμμη
    grid-auto-rows: 60px; /ολες οι υπολοιπες
}