.box1 {
    width: 200px;
    height: 200px;
    background-color: red;
    transition: width 2.15s ease-in; //ποσο γρηγορα κλεινει
}

.box1:hover {
    width: 500px;
    transition: width 4s steps(6,end); //ποσο γρηγορα ανοιγει και με ποιο τροπο
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: green;
    margin-top: 10px;
    transition: transform 2.15s ease-in; //θα κανει το κουτι μεγαλυτερο και μετα σε 2.15 θα το κανει μικρο ξανα
}

.box2:hover {
    transform: scale(3); //κανει το κουτι μεγαλυτερο κατα 3 φορες
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: brown;
    margin: top 10px;
    transition: transform 2.15s ease-in-out;
}

.box3:hover {
    transform: rotate(180deg);
}

.box4 {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-top: 10px;
    transition: transform 2.15;
}

.box4:hover {
    transform: translate(40px,20px); //πρωτη τιμη αξονα x , δευτερη τιμη αξονα y.
}

.box5 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    transition: transform 2.15s;
    margin-top: 20px;
}

.box5:hover {
    transform: skewX(-20deg);
}

.box6 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    transition: transform 2.15s;
    margin-top: 20px;
}

.box6:hover {
    transform: rotate(45deg) skewX(-20deg);
}

.box7 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    transition: transform 2.15s;
    margin-top: 20px;
}

.box7:hover {
    transform: rotate(90deg) scale(2) translateY(50px) translateX(30px);
}