:root {
    --color-light : lightgray;
    --color-primary: blue;
}

* , *::after , *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.border-light {
    border: 1px solid var(--color-light);
}


.outline-none {
    outline: none;
}

.width-lg {
    width: 100%
}

.text-gray {
    color : gray
}

.text-md {
    font-size: medium;
}

.box-center {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}


.rounded {
    border-radius: 1rem;
}

.mt-sm {
    margin-top: 25px;
}

.mb-sm {
    margin-bottom: 25px;
}

.p-5 {
    padding: 2.5rem;
}

.text-serif {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.text-lg {
    font-size: 1.7rem;
}

.text-semibold {
    font-weight: 400;
}

.text-primary {
    color: var(--color-primary);
}

.mb-xsm {
    margin-bottom: 10px;
}

.text-bold {
    font-weight: 700;
}

.mt-xsm {
    margin-top: 10px;
}

.p-1 {
    padding: 1rem;
}


.d-flex {
    display: flex;
    justify-content: flex-end;
}

.hidden {
    display: none;
}

.btn {
    background-color: #1565c0;
    color:white;
    border: none;
    border-radius: 0.5rem;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.btn:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.min-h {
    min-height: 65px;
}